.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    height: 100vh;

    
}
h1{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 200px;
    gap: 20px;
}
input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

button.login{
    padding: 10px;
    border: none;
    background-color: teal;
    cursor: pointer;
    color: white;
}
p{
    font-size: 12px;
    text-align: center;
    color: red;
}

span{
    font-size: 12px;
    text-align: center;
}