.search{
    width: 100%;
    height: 5vh;
    display: flex;
    place-items: center;
    justify-content: center;
    

}
.text{
    width: 100%;
    height: 5vh;
    display: flex;
    place-items: center;
    justify-content: center;
    

}