.textt {
    gap: 3px;
    height: 20vh;

}

.textt {
    width: 100%;
    height: 5vh;
    display: flex;
    place-items: center;
    justify-content: center;



}

.te {
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}



* {
  /* Change your font family */
  font-family: sans-serif;
}

.examPageTable {
  border-collapse: collapse;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
}

.examPageTable thead, .examPageTable tbody{
  display: table;
  table-layout: fixed;
  width: 100%;
  min-width: 200px;
}



.examPageTable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.examPageTable th,
.examPageTable td {
  padding: 12px 15px;
  font-size: larger;
}

.examPageTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.examPageTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.examPageTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.examPageTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

img{
  width: 100%;
}