

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #009879;
    align-items: center;
    .container{
        margin-left: 6.25%;
        margin-right: 6.25%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
          
        .logo{
            width: 25%;
            display: flex;
            justify-content: left;
            .logolink{
                .h1{
                    font-size: xx-large;
                }
            }
        }

        .links{
            display: flex;
            width: 37.5%;
            gap: 20px;
            
            .link{
                width: 50%;
                display: flex;
                justify-content: space-around;
                text-decoration: none;
                color:inherit;
                font-size: larger;
            }
        
            .item{
                width: 25%;
                display: flex;
                justify-content: space-evenly;
            }
        }

        
    }
}

