.detail{
    .container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2em;
        .patientColumn{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .patientInfo{
                margin-top: 2em;
                margin-bottom: 1em;
                font-size: 1.5em;
            }
        }
        .examInfo{

        }
    }
}