.App{
    display: flex;
    justify-content: center;
    // background: radial-gradient(circle at top right,transparent 10%,#f1f1f1 10%, #f1f1f1 20%, transparent 21%), radial-gradient(circle at left bottom,transparent 10%,#f1f1f1 10%,#f1f1f1 20%, transparent 21%),radial-gradient(circle at top left,transparent 10%,#f1f1f1 10%,#f1f1f1 20%, transparent 21%), radial-gradient(circle at right bottom,transparent 10%,#f1f1f1 10%,#f1f1f1 20%, transparent 21%), radial-gradient(circle at center,#f1f1f1 30%, transparent 31%);
    // background-size: 3em 3em;
    // background-color: #ffffff;
    // opacity: 1;

    background-color: #ffffff;
    opacity: 0.9;
    background-image:  radial-gradient(#004a5f 0.5px, transparent 0.5px), radial-gradient(#004a5f 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;

    .container{
        width: 100%;
        
        //Login & Register

    }
    


    
}