.hello{
    
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    
}

.bcontainer{
    width: 100%;
    height: 10vh;
    display: grid;
    place-items: center;


}